// desktop
$cookie-compliance_container-padding-l: 60px;
$cookie-compliance_container-padding-m: 20px;
$cookie-compliance_container-padding-s: 16px;
$cookie-compliance_container-padding-tb: 7px;
$cookie-compliance_container-max-width: $msv-breakpoint-xl;
$cookie-compliance_content-width:100%;
$cookie-compliance_accept-btn-margin-left: 48px;
$cookie-compliance_accept-btn-width: 160px;

// mobile
$cookie-compliance_accept-btn-width-mobile: 243px;
$cookie-compliance_accept-content-margin-bottom-mobile:24px;
$cookie-compliance_modal-padding-top:100px;
$cookie-compliance_modal-width:100%;
$cookie-compliance_modal-height:100%;
$cookie-compliance_modal-content-padding:20px;
$cookie-compliance_modal-content-width:80%;

// style preset
:root {
    // background
    --msv-cookie-compliance-bg-color: var(--msv-bg-color);

    // font
    --msv-cookie-compliance-font-color: var(--msv-font-primary-color);
    --msv-cookie-compliance-font-size: var(--msv-body-font-size-xs);

    // link
    --msv-cookie-compliance-link-color: var(--msv-font-primary-color);

    // primary button
    --msv-cookie-compliance-primary-btn-bg: var(--msv-accent-brand-color);
    --msv-cookie-compliance-primary-btn-font-color: var(--msv-font-secondary-color);
    --msv-cookie-compliance-primary-btn-border: var(--msv-accent-brand-color);
}

.ms-cookie-compliance {
    background-color: var(--msv-cookie-bgcolor);
    color: var(--msv-cookie-compliance-font-color);
    font-size: var(--msv-cookie-compliance-font-size);

    &__container {
        display: flex;
        font-weight: normal;
        //max-width: $cookie-compliance_container-max-width;
        margin: 0 auto;

        @media screen and (min-width: $msv-breakpoint-s) {
            padding-left: $cookie-compliance_container-padding-s;
            padding-right: $cookie-compliance_container-padding-s;
        }

        @media (min-width: $msv-breakpoint-m) {
            padding-left: $cookie-compliance_container-padding-m;
            padding-right: $cookie-compliance_container-padding-m;
        }
    }

    &__content {
        width: $cookie-compliance_content-width;
    }

    &__accept-button {
        float: right;
        height: auto;
        padding-top:$cookie-compliance_container-padding-tb!important;
        padding-bottom:$cookie-compliance_container-padding-tb!important;
        font-size: var(--msv-cookie-compliance-font-size);
        @include primary-button(var(--msv-cookie-compliance-primary-btn-bg), var(--msv-cookie-compliance-primary-btn-font-color), var(--msv-cookie-compliance-primary-btn-border));
    }

    &__cta-layer .link {
        color: var(--msv-cookie-compliance-link-color);
        text-decoration: underline;
    }

    &__text {
        font-size: var(--msv-cookie-compliance-font-size);
    }
}

.ms-modal {
    position: fixed; 
    z-index: 1; 
    padding-top: $cookie-compliance_modal-padding-top; 
    left: 0;
    top: 0;
    width: $cookie-compliance_modal-width;
    height: $cookie-compliance_modal-height; 
    overflow: auto; 
    background-color: $msv-black; 
    background-color: $msv-modal-overlay; //0.4
  }

  .ms-modal-content {
    background-color: $msv-modal-content-bg-color;
    margin: auto;
    padding: 20px;
    width: $cookie-compliance_modal-content-width;
  }
 

@media (max-width: $msv-breakpoint-m) {
    .ms-cookie-compliance {
        &__content {
            margin-bottom: $cookie-compliance_accept-content-margin-bottom-mobile;
        }

        &__accept-button {
            float: none;
            margin: 0;
            width: $cookie-compliance_accept-btn-width-mobile;
        }

        &__container {
            align-items: center;
            flex-direction: column;
        }
    }
}
